<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="intouchteam.intouch">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="intouchteam.intouch.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="intouchteam.intouch.permission.C2D_MESSAGE" />


    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/InTouchLight">
        <activity android:name=".activities.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/InTouchLight" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="intouchteam.intouch" />
            </intent-filter>
        </receiver>

        <service
            android:name=".intouchapi.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".intouchapi.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".intouchapi.RegistrationIntentService"
            android:exported="false" />

        <activity
            android:name=".activities.EventCreateActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_event_create"
            android:theme="@style/InTouchLight" />
        <activity
            android:name=".activities.FullEventActivity"
            android:label="@string/title_activity_full_event"
            android:theme="@style/InTouchLight" />
        <activity
            android:name=".activities.FullProfile"
            android:label="@string/title_activity_full_profile"
            android:theme="@style/InTouchLight" />
        <activity
            android:name=".activities.MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/InTouchLight" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/maps_api_key" />

        <activity
            android:name=".activities.ProfileEditActivity"
            android:label="@string/title_activity_profile_edit"
            android:theme="@style/InTouchLight" />
        <activity
            android:name=".activities.CommentsActivity"
            android:label="@string/title_activity_comments"
            android:theme="@style/InTouchLight"></activity>
    </application>

</manifest>
